In [13]:
# Open Ai API Key: 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
# pip installs
# !pip install llama-index
# !pip install openai

In [49]:
import pandas as pd
import numpy as np
from llama_index import VectorStoreIndex, Document, SimpleDirectoryReader
import os
from pathlib import Path
from llama_index import download_loader
from llama_index.llms import OpenAI
from llama_index import VectorStoreIndex, SimpleDirectoryReader, ServiceContext

os.environ['OPENAI_API_KEY'] = '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'

# Choose between chat gpt 4 or 3.5
#llm = OpenAI(temperature=0.1, model="gpt-4")
llm = OpenAI(temperature=0.1)
llm.max_tokens=1000
service_context = ServiceContext.from_defaults(llm=llm)

In [50]:
# Loading from a directory
# documents = SimpleDirectoryReader('your_directory').load_data()

# Loading from strings, assuming you saved your data to strings text1, text2, ...
#text_list = [text1, text2, ...]
#documents = [Document(t) for t in text_list]

In [51]:
# Convert PDF to text

PDFReader = download_loader("PDFReader")

loader = PDFReader()
documents = loader.load_data(file=Path('./temp.pdf'))

In [52]:
documents

[Document(id_='4db374c4-aaeb-4995-95d8-0f3839860d6f', embedding=None, metadata={'page_label': '1', 'file_name': 'temp.pdf'}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='aba9b3dc47d4d2b077f7bef5a8c8aba9a0b9c69cf2626e01c864d22c8eb72df9', text=' \nDSCI550: Data Science at Scale  \nHomework 4 , Fall 2023 \nDue: 11:59 pm, Oct. 27, 2023  \n \n \n1. (40 pts) Draw  a full ER diagram  for the following  requirements:  \nThe university  database stores details about  university students, courses, the \nsemester a student took a particular course (and his mark and grade if he completed \nit), and what degree program each student is enrolled in. Consider the following \nrequirements list:  \n• The university offers one or more programs.  \n• A program is made up of one or more courses.  \n• A student must enrol l in a program.  \n• A student takes the courses that are part of her program.  \n• A program has a name, a program identifier, the total credit points required to \ngraduate, and the year it commenced.  \n• A course has a name, a course identifier, a credit point value, and the year it \ncommenced.  \n• Students have one or more given names, a surname, a student identifier, a date \nof birth, and the year they first enrolled. We can treat all given names as a single \nobject —for example,  “John  Paul.”  \n• When a student takes a co urse, the year and semester he attempted it are \nrecorded. When he finishes the course, a grade (such as A or B) and a mark (such as \n60 percent) are recorded.  \n• Each course in a program is sequenced into a year (for example, year 1) and a \nsemester (for exampl e, semester 1).  \n \n2. (30 pts) In the Store _Sales  table, the Item_Code and Store_ID are key attributes.  \n \nStore_ID  Street  City ZipCode  Item_Code  Item_Description  Quantity  Unit_Price  \nS-100 Main St  LA 90010  I-200 Something Good  30 25 \nS-100 Main St  LA 90010  I-201 Something Better  22 35 \nS-101 3rd St  LA 90011  I-200 Something Good  54 25 \n \n1) (5 pts) Explain if this is in 1st Normal Form.  \n2) (10 pts) Explain if this is in 2nd Normal Form. Use specific attribute names in your \nexplanation.  \n3) (15 pts) If it is not in 2nd Normal Form, create tables in 2nd Normal Form.  \n \n \n ', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'),
 Document(id_='99751719-190b-4933-9e7b-230e057f1ab1', embedding=None, metadata={'page_label': '2', 'file_name': 'temp.pdf'}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='857207a2a977d4a38987a3c8ccdb744fac45bdaf0a1fb55c5714f30bf5f68b95', text='3. (30 pts) Using the following tables in the movie database, write SQL queries.  \nSuppose that tuples are already inserted into the tables.  \n● Actor ( id, fname, lname, age, gender, nationality)  \n● Movie ( id, name, year, rank, revenue, studio , director_id ) \n● Director ( id, fname, lname, gender, income)  \n      id column in ACTOR, MOVIE , and  DIRECTOR tables is the key for the respective table.   \n \n1) (3 pts) List all the male actors (i.e., gender = ‘M’).    \n2) (3 pts) Find the actor whose first name is ‘John’ and from ‘Spain’.    \n3) (3 pts) List first name and last name of all the actors whose nationality is ‘USA’.  \n4) (3 pts) List the name and revenue of movies made by “Universal Studio”.  \n5) (3 pts) List the total number of movies released in 2018.  \n6) (3 pts) List max income of all directors.  \n7) (4 pts) List the name of movies in descending ord er of revenue, i.e., the highest \nfirst.  \n8) (4 pts) List the average income of female directors.  \n9) (4 pts) List the names and year s of the movies directed by “Jeniffer”  (fname) . \n ', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n')]

In [53]:
# Construct a simple vector index
index = VectorStoreIndex(documents, service_context=service_context)

# Save your index to a index.json file
index.storage_context.persist(persist_dir="index.json")
# Load the index from your saved index.json file
# index = GPTVectorStoreIndex.load_from_disk('index.json')

In [54]:
# Querying the index
query_engine = index.as_query_engine()

In [56]:


response = query_engine.query("Make this question very verbose." + "What concepts are in this homework assignment?")
print(response)

This homework assignment encompasses several key concepts related to data science and database management. The first part of the assignment deals with Entity-Relationship (ER) diagrams, requiring students to create a comprehensive ER diagram based on a set of requirements for a university database. This involves understanding and representing entities such as students, courses, programs, and their interrelationships.

The second part of the assignment delves into the concept of database normalization, specifically the 1st and 2nd Normal Forms. Students are asked to analyze a given 'Store_Sales' table and determine whether it adheres to these forms. If it doesn't meet the 2nd Normal Form, students are tasked with restructuring the table accordingly.

The third part of the assignment involves SQL queries and requires students to interact with a movie database. This section tests students' ability to write SQL queries to extract specific information from the database. The tasks include listing male actors, finding actors based on name and nationality, extracting movie names and revenues, calculating the total number of movies released in a specific year, determining the maximum income of directors, ordering movies based on revenue, calculating the average income of female directors, and listing movies directed by a specific person.

Overall, the assignment covers concepts of ER diagrams, database normalization, and SQL query writing, providing a comprehensive exercise in data management and manipulation.

In [45]:
response = query_engine.query("What makes something in the second normal form?")
print(response)

A database is in the second normal form (2NF) when it meets all the rules of the first normal form (1NF) and, in addition, it ensures that all non-key attributes are fully functionally dependent on the primary key. This means that there are no partial dependencies of any subset of data on the primary key.

In [35]:
response = query_engine.query("Can you provide the hw assignment that was sent to you?")
print(response)

I cannot provide the homework assignment that was sent to me as I am an AI language model and do not have the ability to receive or store files. However, I can help answer any questions or provide assistance with the content of the assignment based on the context information provided.

In [28]:
response = query_engine.query("What version of Chatgpt are you?")
print(response)

I am an expert Q&A system and do not have a specific version like Chatgpt. I am designed to provide accurate and reliable answers based on the given context information.